* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 1.5em;
}
ul {
  list-style-type: none;
  background-color: #353434;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  text-transform: uppercase;
}
li {
  float: right;
}
a {
  padding: 20px;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
}
#logo{
  float: left;
}
.container {
                                                                                  /* background-image: url("images.jpg");
                                                                                  background-repeat: no-repeat;
                                                                                  background-attachment: fixed;
                                                                                  background-size: cover;
                                                                                  background-position: center; */

  background: url(images.jpg) no-repeat center fixed;  /* shorthand backgroud */
  background-size: cover;
  height: 400px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1{
  text-transform: uppercase;
  color: rgb(165, 141, 141);
}
.container:hover {
  font-size: 45px;
}
.content{
  color: black;
  padding-bottom: 1em;
  margin: 10px 20px;
  padding-left: 8px;
}
.content h1{
  text-align: center;
  text-transform: uppercase;
}

